app.id=2016082601805293
seller.id=2088911679367274
notify.url=http://xiyuan.duapp.com/pay/aliCallback
timeout=90m
private.key=MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALh2At8wqNyhY8GP4Gw7HlXeoKaSMPMBQh6ls6Cc7+GVD9iTxcABzhPEiz2TUWgwoPn6KopP71yk/kIcT19q1XZBKgG7aJnj19ca6kTz4mdaEpir3er+ubvb4bRUkMMwR6wUG+eRhCCGg1saSYRWQ/VZ0CnH9QTIn///paSvjuFlAgMBAAECgYBLbQXzmYQS43NU/K3505qt5iCuu+yEESmmOn9e141HIpqeJp6fyp0nfCCrhwesoOXSEbc/YzwvF9BX3BegnqC1zmJAxLJa+CDqkrl+EkJrhU/kpkaaQ+N2fRxZ3QA8omBj4fMJszxmvb8Zpk08OzPCTxPrYn1pPa4CW4VaZ/FqgQJBAN30mXG8axlVfe1hdAIO0JJYK/IckPrfp9gtnkdiKk02SB0xR4R8M3GvtbnwYutTtXixJFedbxWSmqvKh84DffECQQDUwSMO2pgeBaz174WcyA0WJPqMD6R3T7qOHiI6Z5za60WQU/9jAa2+bm2+5ROBI76etPW/vRjU+PO/WTZk5ja1AkEAtR5PRI9zecXYr6exiahbLMCEg9opuH5fsblwCmIhkMY1zJSU/ph3RlMS4Ps3TT8Ou8EZneFbb2gljQAFF+ijkQJBALLQaVDQtM1247oIyHnPQgB8sAAMHaUR47AS7526/ACbgWoezyU9gfPuCFtLWatOiaYGXg37NuW5H9SRfMAtJYkCQEridIHozn6CpqLcAvvogR9iZo0/UuQravsfFdEYQ4JHwiPoShi1oSOUXKg1qpfNkbsiBfLvoGL4PEDrCSX7L5I=
alipay.public.key=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDI6d306Q8fIfCOaTXyiUeJHkrIvYISRcc73s3vF1ZT7XN8RNPwJxo8pWaJMmvyTn9N4HQ632qJBVHf8sxHi/fEsraprwCtzvzQETrNRwVxLO5jVmRGi60j8Ue1efIlzPXV9je9mkjzOmdssymZkh2QhUrCmZYI/FCEa3/cNMW0QIDAQAB
debug=true